extends base

block content 
    h1(style={'text-align': 'center' ,'margin' : '10px 0'}) #{title} 

    form.form_div(method='POST' action='')
        label(for='name') Task Name:
        input.input-field(id='name' type='text' name='name' placeholder='name' value=task.name required)
        label(for='description') Description:
        input.input-field(id='description' type='textfield' name='description' placeholder='description' value=task.description required)
        label(for='date') Due date: 
        input.input-field(id='date' type='date' name='date' value=task.date required)
        label(for='time') Due time: 
        input.input-field(id='time' type='time' name='time' value=task.time required)
        label.radio-inline
            input(type='radio', name='completed', value="true" checked=task.completed)
            | Completed
        label.radio-inline
            input(type='radio', name='completed', value="false" checked=!task.completed )
            | Not completed
        button.btn(type='submit') Submit
        a(href="/")
            button.btn(type='button') Cancel

    if errors
        ul
            for error in errors
                p= error.msg